{% extends "layout.html" %}

{% block title %}	<h1 style="text-align: center;">Football Field Carpet Reservation</h1>{% endblock %}
	{% block content %}
  {% if message %}<p style="color:red;">{{message}}</p>{% endif %} 	   
   {% if date %}
<form action="" method="post" name="carpet_res">     
  <table class="table" style="margin-left: auto; margin-right: auto;">
    <tr>
      <th>Time slot \ Date</th>
      <th>{{ date }}</th>
    </tr>
    <tr>
      <th>17:00-18:00</th>
      <td {% if reserved[0] %} class="reserved">Reserved
        {% else %}<label>
                  <input type="radio" name="time_slot" value="17"/>Available
        </label>{% endif %}
      </td>
    </tr>
    <tr>
      <th>18:00-19:00</th>
      <td {% if reserved[1] %} class="reserved">Reserved
        {% else %}<label>
                  <input type="radio" name="time_slot" value="18"/>Available
        </label>{% endif %}
      </td>
    </tr>
    <tr>
      <th>19:00-20:00</th>
      <td {% if reserved[2] %} class="reserved">Reserved
        {% else %}<label>
                  <input type="radio" name="time_slot" value="19"/>Available
        </label>{% endif %}
      </td>
    </tr>
    <tr>
      <th>20:00-21:00</th>
      <td {% if reserved[3] %} class="reserved">Reserved
        {% else %}<label>
                  <input type="radio" name="time_slot" value="20"/>Available
        </label>{% endif %}
      </td>  
    </tr>
    <tr></form>  
      <form action="" method="get" name="carpet_res3">
      <th> <a href=""><button>Select new date</button></a>
      </th>
      </form>
      <td><button class="button is-primary is-small">Confirm reservation</button> </td>
      <input type="hidden" name="date_" value="{{date}}"/>
    </tr>
</table>
    {% if update_date %}
     <input type="hidden" name="update_date" value="{{update_date}}"/>{% endif %}
     </form>  
    {% else %}
    <form action="" method="post" name="carpet_res2">
    <table class="table" style="margin-left: auto; margin-right: auto;">
      <th><input type="date" id="start" name="date"
           value="{{min_date}}"
           min="{{min_date}}" max="{{max_date}}">
      </th>      
    <th><button class="button is-primary is-small">Confirm date</button></th>
     </table>


     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<br>
<div style="padding-left:400px;padding-right:400px">
    <canvas id="myChart" class="chart-container" 
      style="
        margin: auto; 
        height: 40vh;">
    </canvas>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';


    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:["{{ day_name[0] }}","{{ day_name[1] }}","{{ day_name[2] }}","{{ day_name[3] }}","{{ day_name[4] }}",
        "{{ day_name[5] }}","{{ day_name[6] }}"],
        datasets:[{
          label:'Number of Reservations',
          data:[
            "{{ nor[0] }}",
            "{{ nor[1] }}",
            "{{ nor[2] }}",
            "{{ nor[3] }}",
            "{{ nor[4] }}",
            "{{ nor[5] }}",
            "{{ nor[6] }}",
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:2,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        maintainAspectRatio: false,
        title:{
          display:true,
          text:'Number of Carpet Reservations',
          fontSize:15
        },
        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>






     <br>
      <!--<img style="width: 520px; display: block; margin-left: auto; margin-right: auto;" src="{{image}}">-->
     {% if update_date %}
     <input type="hidden" name="update_date" value="{{update_date}}"/>{% endif %}
    </form> 
 {% endif %}
{%endblock%}
</body>   
</html>