{% extends "layout.html" %}

{% block title %}	<h1>Football Field Carpets{% if username %}<br> {% if not register %} <a href="/register_carpet"><button >REGISTER</button></a> {% endif %}
{% if register %}<a href="/reservation_carpet"><button >RESERVE</button></a><br>
{% else %}<p style="color:red"> You have to register before make a reservation!</p>{% endif %}  
{% else %}<p style="color:red"> You have to login before the resgistration!</p> 
{% endif %}</h1>{% endblock %}
	{% block content %}
  {% if message %} <h3 style="color:red">{{ message }}</h3>{% endif %} 
	<img class="img1" src="./static/halı-saha.jpg">

  <p>Rules:</p>
  <ul>
    <li>Our 4 football field carpets in Ayazağa and Gümüşsuyu campuses serve our students, staff and users outside the University.</li>
    <li>Football field carpets are open during the week between 17:00 and 21:00.</li>
    <li>Note that you cannot make double reservation for same day.</li>
    <li>You can make reservations up to a week later.</li>
  </ul>

	<p>Usage Fees:</p>
		
 <table>
  <tr>
    <th>CATEGORY</th>
    <th>WEEKDAYS / WEEKEND</th>
  </tr>
  <tr>
    <td> ITU student</td>
    <td>50 TL</td>
  </tr>
  <tr>
    <td>Staff</td>
    <td>60 TL</td>
  </tr>
  <tr>
    <td>Grad student</td>
    <td>70 TL</td>
  </tr>
  <tr>
    <td>External staff</td>
    <td>80 TL</td>
  </tr>
  <tr>
    <td>Guest</td>
    <td>200 TL</td>
  </tr>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<br>
<div style="margin: auto;
            width: 45%;
            padding: 50px;
      ">
    <canvas id="myChart" class="chart-container"> 
    </canvas>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';


    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:["{{ day_name[0] }}","{{ day_name[1] }}","{{ day_name[2] }}","{{ day_name[3] }}","{{ day_name[4] }}",
        "{{ day_name[5] }}","{{ day_name[6] }}"],
        datasets:[{
          label:'Number of Reservations',
          data:[
            "{{ nor[0] }}",
            "{{ nor[1] }}",
            "{{ nor[2] }}",
            "{{ nor[3] }}",
            "{{ nor[4] }}",
            "{{ nor[5] }}",
            "{{ nor[6] }}",
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:2,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Number of Carpet Reservations',
          fontSize:15
        },
        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>




<p style="text-align: center;">
<a  href="/all_carpet_res_numbers"><button >Show all reservations</button></a>
</p>
{%endblock%}
</body>   
</html>