{% extends "layout.html" %}

{% block title %}<h2  style="text-align: center;">Forgot Password</h2>
<p style="text-align: center;">Please enter your necessary account informations.</p>
{% endblock %}
  {% block content %} 
  {% if message %} <p style="color:red">{{ message }}</p>{% endif %}
<form action="" method="post" name="forgot_password">
    <div class="field">
     <table class="table" style="margin-left: auto; margin-right: auto;">
      <tr>
        <td><label for="name_surname" class="label">Name, Surname</label></td>
        <td>
          <div class="control">  
            <input type="text" name="name_surname" class="input" required="required" value="{{ values['name_surname'] }}"/>
          </div> 
        </td> 
      </tr>
      <tr>
        <td><label for="userid" class="label">Userid:</label></td>
        <td>
          <div class="control"> 
            <input type="text" name="userid" class="input" required="required" value="{{ values['userid'] }}"/>
          </div> 
        </td>  
      </tr>
      <tr>
        <td><label for="username" class="label">Username:</label> </td>
        <td>
          <div class="control"> 
            <input type="text" name="username" class="input" required="required" value="{{ values['username'] }}"/>
          </div>  
        </td>
      </tr>
      <tr>
        <td><label for="age" class="label">Age:</label> </td>
        <td>
          <div class="control"> 
            <input type="number" name="age" class="input" required="required" min="0" value="{{ values['age'] }}"/>
          </div>  
        </td>
      </tr>
      <tr>
        <td><label for="status" class="label">Status:</label></td>
        <td> 
          <div class="control">  
            <input type="text" name="status" class="input" required="required" value="{{ values['status'] }}"/>
          </div> 
        </td>
      </tr>
      <tr>
        <td><label for="gym_reg" class="label">Do you have gym registration?</label></td>
        <td>
          <div class="control">  
            <input type="radio" name="gym_reg" value="yes"/>Yes
            <input type="radio" name="gym_reg" value="no"/>No
          </div> 
        </td> 
      </tr>
      <tr>
        <td><label for="carpet_reg" class="label">Do you have football field carpet registration?</label></td>
        <td>
          <div class="control">  
            <input type="radio" name="carpet_reg" value="yes"/>Yes
            <input type="radio" name="carpet_reg" value="no"/>No
          </div> 
        </td> 
      </tr>
      <tr>
        <td><label for="pool_reg" class="label">Do you have swimming pool registration?</label></td>
        <td>
          <div class="control">  
            <input type="radio" name="pool_reg" value="yes"/>Yes
            <input type="radio" name="pool_reg" value="no"/>No
          </div> 
        </td> 
      </tr>
      <tr>
        <td><label for="tennis_reg" class="label">Do you have tennis court registration?</label></td>
        <td>
          <div class="control">  
            <input type="radio" name="tennis_reg" value="yes"/>Yes
            <input type="radio" name="tennis_reg" value="no"/>No
          </div> 
        </td> 
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary is-small">Confirm</button>
            </div>
         </div>
       </td>
      </tr>
    </table>
   </div>
  </form>
{%endblock%}
</body>   
</html>
