
<html lang="en">
<head>
    <title>ITU SPORT FACILITY ASSISTANT</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=1" />
</head>

<body class="body1">

    <div id="divh">
        <img class="img2" src="./static/Istanbul_Technical_University_Logo.png">
        <img class="img3" src="./static/Istanbul_Technical_University_Logo.png">
        <a class="link1" href="{{ url_for('home_page') }}">Home</a>
        <a class="link1" href="/gym">GYM</a>
        <a class="link1" href="/carpet">Football Field Carpet</a>
        <a class="link1" href="/pool">Swimming Pool</a>
        <a class="link1" href="/tennis">Tennis Court</a>
        {% if not username %} 
        <a class="link1" href="/login">Login</a>
        <a class="link1" href="/register">Register</a>
         {% endif %}
         {% if username %} 
         <a class="link1" style="border: none;"> Logined as: <a class="link1" style="color:blue" href="/user">{{ username }}</a> </a>
        <a class="link1" href="/sign_out"> Logout</a>
        {% endif %}
    </div>
  

    {% block title %} {% endblock %}
   {% block content %} {%endblock%}

<br>
<hr>
<footer id="footer" > </footer>

<script type="text/javascript">
    let dt = new Date();
    let footer_ = "&copy Hakan Yeşilay " + String(dt.getFullYear());
    document.getElementById("footer").innerHTML = footer_;

    const link = document.getElementsByClassName("link1");
    var a;
    for (a in link){
        link[a].onmouseover = function() {
            if(this.innerHTML==" Logined as: "){
                return;
            }
            this.style.background = "#f2f2f2";
            this.style.background =" -webkit-gradient(linear, left top, left bottom, from(#999999), to(#808080))";
            this.style.background = "-moz-linear-gradient(top,  #999999,  #808080)";
            this.style.filter =  "progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#808080')";
            if(this.style.color!='blue'){
                this.style.color='black';
            }
        };
        link[a].onmouseout = function() {
            if(this.innerHTML==" Logined as: "){
                return;
            }
            this.style.background="none";
            this.style.filter="none";
            this.style.backgroundColor="black";
            if(this.style.color!='blue'){
                this.style.color='white'; 
            }
        };
    }
    
</script>

</body>   
</html>