{% extends "layout.html" %}

{% block title %}	
 <img class="img1" src="./static/tennis.jpg">
<h1>Tennis Courts {% if username %}<br> {% if not register %} <a href="/register_tennis"><button >REGISTER</button></a> {% endif %}
{% if register %}<a href="/reservation_tennis">   <button class="orange">RESERVE</button></a><br>
{% else %}<p style="color:red"> You have to register before make a reservation!</p>{% endif %}  
{% else %}<p style="color:red"> You have to login before the resgistration!</p> 
{% endif %}</h1>
{% if message %} <h3 style="color:red">{{ message }}</h3>{% endif %} {% endblock %}

	{% block content %} 
 
	<p>Tennis courts are open during the week between 08:00 and 16:00.</p>

<p>Rules:</p>
<ul>
    <li>Note that you cannot make double reservation for same day.</li>
    <li>You can make reservations up to a week later.</li>
    <li>You should not enter the courts without asking the consultant and wearing clothes other than tennis clothing.</li>
    <li>The name and surname of the players who will play in the reservation must be specified.</li>
    <li>Reservation cancellations must be made at least 2 hours in advance, unless the cancellation is made, court fee (including members) is charged.</li>
    <li>Waiting time on the courts is 10 minutes. At the end of this period, he/she can play waiting for the court.</li>
    <li>Training activities on the courts are carried out under the supervision of branch teachers.</li>
  </ul>  

	<p>Court Fees:</p>
 <table>
  <tr>
    <th>CATEGORY</th>
    <th>SESSION</th>
    <th>MONTHLY MEMBERSHIP</th>
  </tr>
  <tr>
    <td> ITU student</td>
    <td>8 TL</td>
    <th>60 TL</th>
  </tr>
  <tr>
    <td>Staff</td>
    <td>10 TL</td>
    <th>100 TL</th>
  </tr>
  <tr>
    <td>Grad student</td>
    <td>40 TL</td>
    <th>600 TL</th>
  </tr>
  <tr>
    <td>External user</td>
    <td>30 TL</td>
    <th>600 TL</th>
  </tr>
  <tr>
    <td>Guest</td>
    <td>40 TL</td>
    <th>1000 TL</th>
  </tr>
  <tr>
    <td>Retired from ITU</td>
    <td>10 TL</td>
    <th>100 TL</th>
  </tr>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<br>
<div style="margin: auto;
            width: 45%;
            padding: 50px;
      ">
    <canvas id="myChart" class="chart-container"> 
    </canvas>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';


    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:["{{ day_name[0] }}","{{ day_name[1] }}","{{ day_name[2] }}","{{ day_name[3] }}","{{ day_name[4] }}",
        "{{ day_name[5] }}","{{ day_name[6] }}"],
        datasets:[{
          label:'Number of Reservations',
          data:[
            "{{ nor[0] }}",
            "{{ nor[1] }}",
            "{{ nor[2] }}",
            "{{ nor[3] }}",
            "{{ nor[4] }}",
            "{{ nor[5] }}",
            "{{ nor[6] }}",
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:2,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Number of Carpet Reservations',
          fontSize:15
        },
        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>



<p style="text-align: center;">
<a  href="/all_tennis_res_numbers"><button>Show all reservations</button></a>
</p>
{%endblock%}
</body>   
</html>