{% extends "layout.html" %}

{% block title %}{% endblock %}
  {% block content %} 
  {% if message %} <p style="color:red">{{ message }}</p>{% endif %}
<form action="" method="post" name="forgot_password">
    <div class="field">
     <table class="table" style="margin-left: auto; margin-right: auto;">
      <tr>
        <td><label for="password" class="label">New Password:</label></td>
        <td>
          <div class="control"> 
            <input type="password" name="password1" class="input" required="required"/>
          </div> 
        </td>  
      </tr>
      <tr>
        <td><label for="password" class="label">Please enter once more:</label></td>
        <td>
          <div class="control"> 
            <input type="password" name="password2" class="input" required="required"/>
          </div> 
        </td>  
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary is-small">Confirm</button>
            </div>
         </div>
       </td>
      </tr>
    </table>
   </div>
  </form>
{%endblock%}
</body>   
</html>
